/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  // HEAD
#home-banner {
  height: 242px;
  margin-bottom: 2px !important
}
.navbar-light .navbar-nav .nav-link {
  color: #333333;
    font-size: 12px;
    letter-spacing: .15em;
}
.nav-item .h6 .small .pr-2 {
  padding-right: 15px
}