/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  // HEAD
#home-banner {
  height: 242px;
  margin-bottom: 2px !important
}
.navbar-light .navbar-nav .nav-link {
  color: #333333;
    font-size: 12px;
    letter-spacing: .15em;
}
.nav-item .h6 .small .pr-2 {
  padding-right: 15px
}
@media (min-width:992px) {
  .col-lg-3 { 
    max-width: 33%;
    flex: 0 0 33%;
}
}
@media (max-width:562px) {
  .col-lg-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

//FORMATTING
body, .card-text {
  font-size: 14px;
}
.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
}
.card-title {
  font-weight: 600;
}
a.nav-link.text-white.border.font-weight-bold {
margin-right: 20px
}

//TAG FONT SIZES
.tagcloud0{font-size:0.6em;}
.tagcloud1{font-size:0.9em;}
.tagcloud2{font-size:1.4em;}
.tagcloud3{font-size:1.1em;}
.tagcloud4{font-size:1.6em;}
.tagcloud5{font-size:1.9em;}
.tagcloud6{font-size:2.2em;}
.tagcloud7{font-size:2.5em;}
.tagcloud8{font-size:2.8em;}
.tagcloud9{font-size:3em;}
.tagcloud10{font-size:3.3em;}