---
layout: page
---
{% if page.url contains 'catalog'%}{% assign fields = site.data.config-catalog | map: 'display_name' %}{% else %}{% assign fields = site.data.config-table | map: 'display_name' %}{% endif %}
{% unless page.title contains 'atalog' %}{% include data-download-modal.html %}{% endunless %}

{{ content }}

<div class="table-responsive-md">
    <table id="item-table" class="table table-striped">
        <thead>
            <tr>
                {% for f in fields %}
                <th scope="col">{{ f }}</th>
                {% endfor %}
                <th>Link</th>
            </tr>
        </thead>
    </table>
</div>
